<div class="space-y-8">
    <div class="space-y-2">
        <h3 class="text-xl font-semibold">Problem</h3>
        <p>1. Write a program that prints the numbers from 1 to 100. But for multiples of three print “Fizz” instead of the number and for the multiples of five print “Buzz”. For numbers which are multiples of both three and five print “FizzBuzz”.</p>
    </div>
    <div class="space-y-2">
        <h3 class="text-xl font-semibold">Output</h3>
        <div class="mockup-code ">
            <div class="mx-5">
                <code *ngFor="let number of numbers">{{ number }} </code>
            </div>
        </div>
    </div>
</div>
