<nav class="flex justify-between px-8 py-4 bg-neutral text-neutral-content">
    <h1 class="text-2xl font-bold">Interview Problems <span class="font-normal text-secondary">By Worapon Klabsri</span></h1>
    <ul class="flex space-x-8 text-base h-full">
        <li class="mt-1 transition-colors hover:text-secondary"><a routerLink="/">Todo List</a></li>
        <li class="mt-1 transition-colors hover:text-secondary"><a routerLink="/easy">Easy</a></li>
        <li class="mt-1 transition-colors hover:text-secondary"><a routerLink="/medium">Medium</a></li>
    </ul>
</nav>
