<div class="space-y-8">
    <div class="space-y-2">
        <h3 class="text-xl font-semibold">Problem</h3>
        <p>3. Write a program that produce the following output giving an integer input n.</p>
    </div>
    <div class="space-y-2">
        <h3 class="text-xl font-semibold">Input</h3>
        <form>
            <input type="number" placeholder="Input number here" class="input input-bordered" min="0">
            <button></button>
        </form>
    </div>
    <div class="space-y-4">
        <h3 class="text-xl font-semibold">Output</h3>
        <div class="space-y-2">
            <li class="list-disc">3.1</li>
            <div class="mockup-code ">
                <div class="mx-5">
                    <code></code>
                </div>
            </div>
        </div>
        <div class="space-y-2">
            <li class="list-disc">3.2</li>
            <div class="mockup-code ">
                <div class="mx-5">
                    <code></code>
                </div>
            </div>
        </div>
        <div class="space-y-2">
            <li class="list-disc">3.3</li>
            <div class="mockup-code ">
                <div class="mx-5">
                    <code></code>
                </div>
            </div>
        </div>
        <div class="space-y-2">
            <li class="list-disc">3.4</li>
            <div class="mockup-code ">
                <div class="mx-5">
                    <code></code>
                </div>
            </div>
        </div>
        <div class="space-y-2">
            <li class="list-disc">3.5</li>
            <div class="mockup-code ">
                <div class="mx-5">
                    <code></code>
                </div>
            </div>
        </div>
        <div class="space-y-2">
            <li class="list-disc">3.6</li>
            <div class="mockup-code ">
                <div class="mx-5">
                    <code></code>
                </div>
            </div>
        </div>
    </div>
</div>
