<div role="tablist" class="tabs tabs-lifted tabs-lg">
    <input type="radio" name="my_tabs_2" role="tab" class="tab" aria-label="Easy 1" checked />
    <div role="tabpanel" class="tab-content bg-base-100 border-base-300 rounded-box p-6">
        <app-easy-1></app-easy-1>
    </div>
  
    <input type="radio" name="my_tabs_2" role="tab" class="tab" aria-label="Easy 2" />
    <div role="tabpanel" class="tab-content bg-base-100 border-base-300 rounded-box p-6">
        <app-easy-2></app-easy-2>
    </div>
  
    <input type="radio" name="my_tabs_2" role="tab" class="tab" aria-label="Easy 3" />
    <div role="tabpanel" class="tab-content bg-base-100 border-base-300 rounded-box p-6">
        <app-easy-3></app-easy-3>
    </div>

    <input type="radio" name="my_tabs_2" role="tab" class="tab" aria-label="Easy 4" />
    <div role="tabpanel" class="tab-content bg-base-100 border-base-300 rounded-box p-6">
        <app-easy-4></app-easy-4>
    </div>

    <input type="radio" name="my_tabs_2" role="tab" class="tab" aria-label="Medium 1" />
    <div role="tabpanel" class="tab-content bg-base-100 border-base-300 rounded-box p-6">
        <app-medium-1></app-medium-1>
    </div>
  </div>
