<div class="space-y-8">
    <div class="space-y-2">
        <h3 class="text-xl font-semibold">Problem</h3>
        <p>2. Write a program that determine whether or not an integer input is a leap year.</p>
        <p>Definition of leap year:</p>
        <ul class="list-disc ml-5">
            <li>
                Rule 1: A year is called leap year if it is divisible by 400.<br/>
                <span class="font-semibold">Example: </span>1600, 2000 etc. are leap year while 1500, 1700 are not leap year.
            </li>
            <li>
                Rule 2: If year is not divisible by 400 as well as 100 but it is divisible by 4 then that year are also leap year.<br/>
                <span class="font-semibold">Example: </span>2004, 2008, 1012 are leap year.
            </li>
        </ul>
    </div>
    <div class="space-y-2">
        <h3 class="text-xl font-semibold">Input</h3>
        <form>
            <input type="number" placeholder="Input number here" class="input input-bordered" min="0">
            <button class="btn btn-primary ml-2" type="submit">Enter</button>
        </form>
    </div>
    <div class="space-y-2">
        <h3 class="text-xl font-semibold">Output</h3>
        <div class="mockup-code ">
            <div class="mx-5">
                <code></code>
            </div>
        </div>
    </div>
</div>
